[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
numpy = "*"
matplotlib = "*"
librosa = "*"
pandas = "*"
jupyter = "*"
keras = "*"
tensorflow = "*"
scipy = "*"
jupyterlab = "*"
click = "*"
tqdm = "*"
mir-eval = "*"
pystoi = {git = "https://github.com/mpariente/pystoi.git",ref = "master"}
tensorflowjs = "*"

[requires]
python_version = "3.6"
